<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @request.name %>
</p>

<p>
  <b>Score:</b>
  <%= @request.score %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
