<div class="container">

<div id="home-box" class="box">
  <div id="title">DJ Station</div>
<h2>Now Playing</h2>
<% song = @now_playing_song %>
<% if song == nil %>
  <tr>No songs currently playing</tr>
<% else %>
 <table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Requests</th>
    <th>Upvotes</th>
    <th>Downvotes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td><%= song.id %></td>
    <td><%= song.name %></td>
    <td><%= song.requests %></td>
    <td><%= song.upvotes %></td>
    <td><%= song.downvotes %></td>
    <td><%= song.playing %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <!--<td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>
<div id="songs">
  
  <h2>New Song</h2>
  Title: <br />
  <input id="song-input" placeholder="Party Rock Anthem"/> <!--TODO: use echo nest to complete title--> <br />
  MP3 link: <br />
  <input id="song-link" placeholder="http://example.com/partyrock.mp3"/> <br />
  <br />

  <button id="request-btn" class="btn primary">Add New Song</button>
  <br />
  <br />
  <br />

<div class="song-title">Pitbull - Give me everything</div>
<br />
<audio controls="controls">
  <source src="http://dc100.4shared.com/img/1104092048/28e09647/dlink__2Fdownload_2FxhRfxFKL_3Ftsid_3D20120303-13812-26d0ac80/preview.mp3" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>

<br />
<br />
<div class="song-title">Rick Astley - Never gonna give you up</div>
<br />
<audio controls="controls">
  <source src="http://dc441.4shared.com/img/1184185856/605e02a0/dlink__2Fdownload_2FGcunibQa_3Ftsid_3D20120303-22700-ae071660/preview.mp3" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>


</div>
</div>

</div>
