
<script type="text/javascript">
document.body.onload = function {
	var canvas = document.getElementById("paper").getContext("2d");

	canvas.width = 450;
	canvas.height = 960;
	var ratingWheel = new cObject();
	ratingWheel.width = 450;
	ratingWheel.height = 960;
	ratingWheel.x = 640/2 - 450/2;
	ratingWheel.y = 430;
	ratingWheel.draw = function() {
		canvas.drawImg(ratingWheel.x, ratingWheel.y, 
				ratingWheel.width, ratingWheel.height);
	};

	var ratingWheelImg = new Image();
	ratingWheelImg.onload = function() {};
	ratingWheelImg.src = "/images/vinyl.png";
};
</script>

<canvas id="paper"></canvas>

<% song = @now_playing_song %>
<% if song == nil %>
  <tr>No songs currently playing</tr>
<% else %>
    <td><%= song.id %></td>
    <td><%= song.name %></td>
    <td><%= song.requests %></td>
    <td><%= song.upvotes %></td>
    <td><%= song.downvotes %></td>
    <td><%= song.playing %></td>
    <td><%= link_to 'Show', song %></td>
    <td><button id="<%= song.id %>" class="upvote-btn btn success">Upvote</button></td>
    <td><button id="<%= song.id %>" class="downvote-btn btn danger">Downvote</button></td>
    <!--<td><%= link_to 'Edit', edit_song_path(song) %></td>-->
    <!--<td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>
<ul data-role="pagination">
	<li class="ui-pagination-prev"><a href="#/pages/gallery1.html">Prev</a></li>
	<li class="ui-pagination-next"><a href="#/pages/song_request.html">Next</a></li>
</ul>
