
<script type="text/javascript">
document.body.onload = function() {
	var canvas = document.getElementById("paper");
	var context = canvas.getContext("2d");
	var width = 320;
	var height = 480;

	canvas.width = width;
	canvas.height = height;

	var backgroundImg = new Image();
	backgroundImg.onload = function() {};
	backgroundImg.src = "/images/background.png";

	var ratingWheelImg = new Image();
	ratingWheelImg.onload = function() {};
	ratingWheelImg.src = "/images/vinyl.png";

	var ratingWheel = new cObject();
	var rwl = 225;
	ratingWheel.width = rwl;
	ratingWheel.height = rwl; 
	ratingWheel.x = width/2;
	ratingWheel.y = height - rwl;
	ratingWheel.draw = (function() {
		context.save();
		context.translate(ratingWheel.x, ratingWheel.y);
		context.rotate(r);
		context.drawImage(ratingWheelImg, -rwl/2, -rwl/2, 
				ratingWheel.width, ratingWheel.height);
		context.restore();
	}).bind(this);

	var r = 0;	// rotation

	// starts timed draw events
	setInterval((function() {
		context.clearRect(0,0,width,height);	// clear the rectangle first
		context.drawImage(backgroundImg, 0, 0, width, height);

		ratingWheel.draw();
	}).bind(this), 1000/30);	// 30 fps

	// touch handlers
	document.addEventListener("touchmove", function(event) {
		// handle one finger touches
		switch(event.targetTouches.length) {
		case 1:
			var touch = event.targetTouches[0];
			// find a new rotation angle		
			var angle = Math.atan((height-rwl+rwl/2 - touch.pageY)/(touch.pageX - width/2)) - Math.PI/2;
			if(touch.pageX - width/2 < 0) {
				angle = angle - Math.PI;
			}
			r = -1*angle;
			break;
		default:
			break;
		}
		// stop the touches from moving the screen
		event.preventDefault();
	}, false);
};

</script>

<canvas id="paper"></canvas>

<!-- canvas contains everything
<% song = @now_playing_song %>
<% if song == nil %>
  <tr>No songs currently playing</tr>
<% else %>
    <td><%= song.id %></td>
    <td><%= song.name %></td>
    <td><%= song.requests %></td>
    <td><%= song.upvotes %></td>
    <td><%= song.downvotes %></td>
    <td><%= song.playing %></td>
    <td><%= song.hotness %></td>
    <td><%= link_to 'Show', song %></td>
    <td><button id="<%= song.id %>" class="upvote-btn btn success">Upvote</button></td>
    <td><button id="<%= song.id %>" class="downvote-btn btn danger">Downvote</button></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
-->
