<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Requests:</b>
  <%= @song.requests %>
</p>

<p>
  <b>Upvotes:</b>
  <%= @song.upvotes %>
</p>

<p>
  <b>Downvotes:</b>
  <%= @song.downvotes %>
</p>

<p>
  <b>Now playing</b>
  <%= @song.playing %>
</p>

<p>
  <b>Source</b>
  <%= @song.source %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'All songs', songs_path %> |
<%= link_to 'Now playing', :action => 'now_playing' %>
